/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-page-color: #000028;
  --display-rec: initial;
  --color-title: #DB00FF;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --accent-bg: #FF0070;
  --card-color-text: #F1B2CE;
  --primary-font-family: 'IBM Plex mono', serif;
  --primary-font-size: 18px;
  --primary-font-weigth: 400;
  --primary-line-height: 23.4px;
  --card-title-color: #000028; 
  --menu-color: #FF0070;
  --menu-hover-color: #FF0070;
  --link-shadow-color: #FF0070;
  --link-focus-color: #F1B2CE;
}